/*Шрифты*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}

/*Общие стили*/
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(252, 252, 252);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/*Стилизация основного блока с текстом на странице*/
.text_container__header {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border: 1px solid #c6d2e9;;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.925);
  background-color: #0b84da14;
}
.text_container__header:hover {
  border: 1px solid #d6e9c6;
  color: rgb(73, 73, 80);
  background-color: #dff0d8;
  transition: 0.2s;
}
.text_container__header > div {
 margin-top: 10px;
}
.text_container__header > div:hover {
  color: rgb(200 3 94 / 93%);
 }
.hidden {
  opacity: 0;
}