/*Шрифты*/
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf');
}

/*Общие стили*/
*, *::before, *::after {
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  background-color: rgb(252, 252, 252);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.prompt {
  margin-top: 20px;
}

/*Стилизация основного блока с текстом на странице*/
.text_container__box {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  border: 1px solid #c6d2e9;;
  border-radius: 5px;
  color: rgba(85, 81, 81, 0.842);
  background-color: #96b1c514;;
}
.text_container__box:hover {
  border: 1px solid #d6e9c6;
  background-color: #f4fdf1;
  transition: 0.2s;
}
.text_container__box > div {
 margin-top: 10px;
}
.text_container__box > div:hover {
  color: rgb(0, 0, 0);
 }
.hidden {
  opacity: 0;
}